@use "../abstracts/variables" as *;

// style for text-link on form i.e Login
.link {
  &:link,
  &:visited {
    color: $color-red;
    text-decoration: none;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $color-white;
  }
}