@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-smd;

  &-error {
    & div {
      // makes error container to be displayed when error occurs
      display: block;
    }

    & input {
      border-bottom: 1px solid $color-red !important;
    }
  }

  &-input {
    position: relative;

    input {
      cursor: pointer;
      border: none;
      outline: none;
      background-color: $color-dark-blue;
      color: $color-white;
      width: 100%;
      height: 3.6rem;
      font-size: $font-body-medium;
      caret-color: $color-red;
      border-bottom: 0.1rem solid $color-light-blue;
      transition: all 0.3s;
      padding: $space-xsm;

      @include remove-auto-styles($color-white, $color-dark-blue);

      // Make sure error styles are ony shown when input is
      // focused
      &:focus {
        &:invalid {
          border-bottom: 0.1rem solid $color-red;
        }
      }
    }

    // styles for error container of an input element
    &__error {
      display: none; // make sure its only displayed when error occurs
      position: absolute;
      color: $color-red;
      top: 1.2rem;
      right: 1.2rem;

      // Make sure error is always in right position
      width: max-content;
    }
  }

  // Styles for submit button on form
  &__submit {
    font-family: inherit;
    padding: $space-xsm;
    border-radius: $space-sm;
    border: none;
    background-color: $color-red;
    color: $color-white;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: $color-white;
      color: $color-dark-blue;
    }
  }
}
