@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.navbar {
  // Makes the navbar remain sticky as user scrolls the page
  position: sticky;
  top: $space-md;

  height: calc(100vh - $space-md - $space-md);
  background-color: $color-dark-blue;
  width: max-content;
  padding: $space-smd;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: calc($space-sm + $space-sm);

  @media (max-width: $tablet) {
    // Grid allows for equally spaced columns
    grid-template-columns: max-content 1fr max-content;
    height: $space-sh;
    width: 100%;
    position: static;
  }

  @media (max-width: $mobile) {
    border-radius: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: $space-xmd;
    justify-items: center;
    flex-direction: column;
    align-self: start;
    margin-top: $space-sh;


    @media (max-width: $tablet) {
      justify-self: center;
      flex-direction: row;
      margin: 0;
      align-self: center;
    }

    li:hover {
      cursor: pointer;
    }
  }

  &__active {
    path {
      fill: $color-white;
    }
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    border: 1.5px solid #fff;
    border-radius: 50%;

    // Make sure avatar is at the end
    justify-self: end;
    align-self: end;
  }
}