@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.navbar {
  // Makes the navbar remain sticky as user scrolls the page
  position: sticky;
  top: $space-md;

  height: calc(100vh - $space-md - $space-md);
  background-color: $color-dark-blue;
  width: max-content;
  padding: $space-smd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: calc($space-sm + $space-sm);

  @media (max-width: $tablet) {
    // Grid allows for equally spaced columns
    // Then flex box allow items to have equal space between
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    height: $space-h;
    width: 100%;
    flex-direction: row;
  }

  &__logo {
    @media (max-width: $tablet) {
      transform: translateX(50%);
    }
  }

  &__top {
    display: grid;
    gap: $space-xmd;
    justify-items: center;

    @media (max-width: $tablet) {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    gap: $space-xmd;
    justify-items: center;

    @media (max-width: $tablet) {
      display: flex;
    }

    li:hover {
      cursor: pointer;
    }
  }

  &__active {
    path {
      fill: $color-white;
    }
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    border: 1.5px solid #fff;
    border-radius: 50%;
  }
}