@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.searchbar {
  display: flex;
  position: sticky;
  top: 0;
  transform: translateY(-4px); // Prevent gaps when scrolling
  height: max-content;
  gap: $space-smd;

  @media (max-width: $tablet) {
    // Fixes the gaps shown when scrolling
    border-left: 5px solid $color-darker-blue;
  }

  // Make sure search bar is always above content
  background-color: $color-darker-blue;
  z-index: 15;
  padding-bottom: $space-smd;

  &__button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  &__input {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      background-color: inherit;
      border: none;
      outline: none;
      border-bottom: 1px solid $color-darker-blue;
      transition: all 0.3s;
      padding: $space-xsm 0; // also fixes jerking from border addition
      color: $color-white;
      caret-color: $color-red;
      @include remove-auto-styles($color-white, $color-darker-blue);
      cursor: pointer;

      &:focus {
        border-color: $color-light-blue;
      }
    }
  }

  &__icon {
    height: $space-md;
    width: $space-md;

    & path {
      fill: $color-white;
    }
  }
}