@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.searchbar {
  display: flex;

  // allows for search bar to be always on top on scroll
  position: sticky;
  top: 0;

  height: max-content;
  gap: $space-smd;
  transform: translateY(-4px); // prevents vertical gaps on scroll
  width: 100%;

  // Fixes the horizontal gaps shown when scrolling
  box-shadow: 0 0 6px 7px $color-darker-blue;

  // Make sure search bar is always above content
  background-color: $color-darker-blue;
  z-index: 15;
  padding-bottom: $space-smd;

  &__button {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__input {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      background-color: inherit;
      border: none;
      outline: none;
      border-bottom: 1px solid $color-darker-blue;
      transition: all 0.3s;
      padding: $space-xsm 0; // also fixes jerking from border addition
      color: $color-white;
      caret-color: $color-red; // makes blinking cursor have a differen color
      @include remove-auto-styles($color-white, $color-darker-blue);
      cursor: pointer;

      &:focus {
        border-color: $color-light-blue;
      }
    }
  }

  &__icon {
    height: $space-md;
    width: $space-md;

    & path {
      fill: $color-white; // changes the color of the svg icon
    }
  }
}