// Mixin to center anything in container vertically
@mixin flex-center-vertical($gap: 2.4rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

// Mixin to center anything in container horizontally
@mixin flex-center-horizontal($gap: 2.4rem) {
  display: flex;
  align-items: center;
  gap: $gap;
}

// Mixin to center everything with flexbox
@mixin flex-center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Remove chrome autocomplete styles
@mixin remove-auto-styles($text-color, $color) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $color inset;
    -webkit-text-fill-color: $text-color;
  }

}