// Colors to be used on page
$color-red: #fc4747;
$color-white: #ffffff;
$color-light-blue: #5a698f;
$color-dark-blue: #161d2f;
$color-darker-blue: #10141e;

// Font sizes
$font-body-small: 1.3rem;
$font-body-medium: 1.5rem;
$font-heading-extra-small: 1.8rem;
$font-heading-small: 2.4rem;
$font-heading-large: 3.2rem;

// Font weights
$font-weight-light: 300;
$font-weight-medium: 500;

// Spacings
$space-ssm: 0.8rem;
$space-sm: 1rem;
$space-xsm: 1.6rem;
$space-smd: 2.4rem;
$space-md: 3.2rem;
$space-xmd: 4rem;
$space-slg: 4.8rem;
$space-lg: 5.6rem;
$space-xlg: 6.4rem;
$space-sh: 7.2rem; // sh - small huge
$space-h: 9.6rem;
$space-xh: 12.8rem;

// breakpoints
$laptop: 70em;
$tablet: 48em;
$mobile: 37.5em;
