@use "../abstracts/variables" as *;

.home {
  background-color: inherit;
  padding: $space-md;
  display: grid;
  grid-template-columns: max-content 1fr;

  // Creating a space between the navbar and main content
  gap: $space-xmd;

  &__main {
    overflow-y: auto;
    height: calc(100vh - $space-xlg);
  }
}