@use "../abstracts/variables" as *;

.movies {
  display: grid;

  &__trending {
    height: max-content;
    overflow-x: auto;
    width: 100%;
    margin-bottom: $space-xmd;
  }

  &__container {
    overflow-y: auto;
  }

}
