@use "../abstracts/variables" as *;

.movies {
  display: grid;

  &__trending {
    height: max-content;
    overflow-x: auto;
    width: 100%;
    margin-bottom: $space-xmd;

    // Removes scrollbars from non-webkit browsers
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__container {
    overflow-y: auto;
  }

  // Separator between bookmarked tv shows and movies
  &__separator {
    width: 100%;
    margin: 2rem 0;
  }
}

.movie {
  &-grid {
    &__list {
      // moved layout to max of 1fr in order to maximise responsiveness
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
      gap: $space-md;

      @media (max-width: $tablet) {
        // Make sure tablet has 3 columns
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-content: center;
      }

      @media (max-width: $mobile) {
        // Make sure mobile has 3 columns
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      }
    }
  }
}
