@use "../abstracts/variables" as *;

.movies {
  display: grid;

  &__trending {
    height: max-content;
    overflow-x: auto;
    width: 100%;
    margin-bottom: $space-xmd;

    // Removes scrollbars from non-webkit browsers
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__container {
    overflow-y: auto;
  }

  // Separator between bookmarked tv shows and movies
  &__separator {
    width: 100%;
    margin: 2rem 0;
  }
}

.movie {
  &-grid {
    &__list {
      // moved layout to max of 1fr in order to maximise responsiveness
      /**
      BRIEF NOTE
      The auto-fit container will adjust the size of the grid tracks to fill the available space
      and remove any empty tracks. This means that the grid items will stretch to fill the space,
      and the grid will look more compact.
      The auto-fill container will create empty tracks to fill the remaining space. This means
      that the grid items will maintain their size, and the grid will look more spaced out.
       */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
      gap: $space-md;

      @media (max-width: $tablet) {
        // Make sure tablet has 3 columns
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        justify-content: center;
      }

      @media (max-width: $mobile) {
        // Make sure mobile has 3 columns
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      }
    }
  }
}
